# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Sass
*.sass-cache/
*.scssc

# Logs
logs/
*.log

# その他
*.swp
*.swo

# ビルド生成物
/dist/
/build/

# 環境変数
.env
.env.*
